Introdução a biblioteca pandas

In [1]:
import pandas as pd

Criando uma serie

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Manipulando as series

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Acessando series

In [11]:
data['c']

0.75

Indices numericos

In [12]:
data[0]

0.25

Criando uma serie a partir de um dicionario

In [15]:
populacao_dict = {'Araçatuba':15000, 'Guararapes':30000, 'Birigui': 30000, 'Penapolis':40000}
populacao_dict

{'Araçatuba': 15000, 'Guararapes': 30000, 'Birigui': 30000, 'Penapolis': 40000}

In [20]:
populacao = pd.Series(populacao_dict)
populacao

Araçatuba     15000
Guararapes    30000
Birigui       30000
Penapolis     40000
dtype: int64

Ascessar os componentes

In [22]:
populacao['Araçatuba']

15000

In [24]:
populacao['Guararapes':'Penapolis']

Guararapes    30000
Birigui       30000
Penapolis     40000
dtype: int64

Pegar o objeto da serie

In [25]:
populacao.index

Index(['Araçatuba', 'Guararapes', 'Birigui', 'Penapolis'], dtype='object')

Segundo elementos dados datafreme

In [26]:
area_dict = {'Araçatuba':38000, 'Guararapes':39293, 'Birigui': 348490, 'Penapolis':404000}
area_dict

{'Araçatuba': 38000,
 'Guararapes': 39293,
 'Birigui': 348490,
 'Penapolis': 404000}

Criando uma serie

In [27]:
area = pd.Series(area_dict)
area

Araçatuba      38000
Guararapes     39293
Birigui       348490
Penapolis     404000
dtype: int64

Construindo um dataFrame

In [28]:
cidades = pd.DataFrame({'populacao': populacao, 'area': area})
cidades

            populacao    area
Araçatuba       15000   38000
Guararapes      30000   39293
Birigui         30000  348490
Penapolis       40000  404000

In [29]:
cidades.index

Index(['Araçatuba', 'Guararapes', 'Birigui', 'Penapolis'], dtype='object')

Colunas de um dataframe

In [30]:
cidades.columns

Index(['populacao', 'area'], dtype='object')

Ascesando dataframe pelo index

In [31]:
cidades['area']

Araçatuba      38000
Guararapes     39293
Birigui       348490
Penapolis     404000
Name: area, dtype: int64

Dataframe construção

In [33]:
pd.DataFrame(populacao, columns=['pop'])

              pop
Araçatuba   15000
Guararapes  30000
Birigui     30000
Penapolis   40000